<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    <link rel="shortcut icon" href="{%  static 'images/fitness.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Fitnees Studio</title>
</head>

<body>
    <header>
        <nav class="main">
            <div class="menu-tags" onclick="toggleMenu()">



                <i class="fa-solid fa-align-justify"></i>

            </div>
            <ul class="menu" id="menu">
                <li><a href=""> Home</a></li>
                <li><a href=""> About</a></li>

            </ul>
            
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>

</html>
<script>
    function toggleMenu() {
        const menu = document.querySelector('.menu');
        menu.classList.toggle('active');
    }
</script>