{% extends 'FrontEnd/base.html' %}
{% load static %}

{% block header_class %}no-banner{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
<div class="calendar-schedule-container">
    <h4 class="table-title">Schedule Slots</h4>
    <!-- Left: Calendar -->
    <div class="calendar-wrapper">
        <div id="calendar" class="calendar-box"></div>
    </div>

    <!-- Right: Schedule Table -->
    <div class="schedule-table-wrapper">
        <h4 class="table-title">Slots Available</h4>

        {% if schedule %}
        {% for date, bookings in schedule.items %}
        <div class="date-label">{{ date }}</div>
        <div class="table-responsive">
            <table class="table table-content">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Coach</th>
                        <th>Slot</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for booking in bookings %}
                    <tr>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.time|time:"h:i A" }}</td>
                        <td>{{ booking.trainee }}</td>
                        <td>{{ booking.slottype }}</td>
                        <td class="action-buttons">
                            <button class="btn-delete" 
                                data-delete-url="{% url 'slot_delete' booking.client_id %}">
                                Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}
        {% else %}
        <p class="no-booking">No bookings available.</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
