<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/fitness.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Fitness Studio</title>
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags|default:'info' }}">
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <section class="header">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h2 class="title">Create an Account</h2>
                    <form method="post" action="" class="signup-form" >
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" name="username" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <input type="text" name="email" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <div class="input-group">
                            <input type="password" name="conf_password" placeholder="Confirm Password">
                        </div>
                        <div class="button-group">
                            <button type="submit">Sign Up</button>
                        </div>
                    </form>
                    
                    <div class="login-link">
                        <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
                    </div>
                </div>
                
            </div>
        </div>

    </section>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/signup.js'  %}"></script>
    
</body>
</html>