* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/workuout.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
}
.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.card {
    background: linear-gradient(rgba(121, 112, 112, 0.5), rgba(0, 0, 0, 0.5));
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    
    color: #ccc;
}

.card .title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #fff;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.input-group input:focus {
    outline: none;
    border-color: #00cc99;
    box-shadow: 0 0 5px rgba(0, 204, 153, 0.6);
}

.button-group button {
    width: 100%;
    padding: 10px;
    background-color: #00cc99;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #009977;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
}

.login-link p {
    color: #ccc;
}

.login-link a {
    color: #00cc99;
    text-decoration: none;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}


.error-msg {
    color: rgb(196, 16, 16);
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}


.messages {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    list-style: none;
    padding: 0;
    margin: 0;
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: white;
    position: relative;
    min-width: 250px;
    opacity: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.alert-success {
    background-color: #4CAF50;
}

.alert-error {
    background-color: #f44336;
}

.alert-info {
    background-color: #2196F3;
}

.alert-warning {
    background-color: #ff9800;
}